version: "3.8"

services:
  # 1. Homepage (Your Dashboard)
  homepage:
    image: gethomepage/homepage:latest
    container_name: homepage
    ports:
      - "3000:3000"
    volumes:
      - ./config/homepage:/app/config
      - /var/run/docker.sock:/var/run/docker.sock:ro
    environment:
      - PUID=${PUID}
      - PGID=${PGID}
    restart: always

  # 2. File Browser (NAS Interface)
  filebrowser:
    image: filebrowser/filebrowser
    container_name: filebrowser
    user: "${PUID}:${PGID}"
    ports:
      - "8080:80"
    volumes:
      - ${NAS_ROOT}:/srv               # The actual storage folder on your host
      - ./config/filebrowser/filebrowser.db:/database.db
      - ./config/filebrowser/settings.json:/.filebrowser.json
    restart: unless-stopped

  # 3. Nginx (Reverse Proxy)
  nginx:
    image: nginx:alpine
    container_name: nginx
    ports:
      - "80:80"
    volumes:
      - ./config/nginx/nginx.conf:/etc/nginx/nginx.conf:ro
    depends_on:
      - homepage
      - filebrowser
    restart: always

  # 4. Uptime Kuma (Monitoring)
  uptime-kuma:
    image: louislam/uptime-kuma:1
    container_name: uptime-kuma
    ports:
      - "3001:3001"
    volumes:
      - uptime-kuma-data:/app/data
    restart: always

volumes:
  uptime-kuma-data:

# 5. Pi-hole (Ad Blocker)
  pihole:
    container_name: pihole
    image: pihole/pihole:latest
    ports:
      - "53:53/tcp"
      - "53:53/udp"
      - "8081:80" 
    environment:
      TZ: 'Asia/Kuala_Lumpur'
      WEBPASSWORD: ${PIHOLE_PASSWORD} 
    volumes:
      - './config/pihole/etc-pihole:/etc/pihole'
      - './config/pihole/etc-dnsmasq.d:/etc/dnsmasq.d'
    restart: unless-stopped

  # 6. Gitea (Git Hosting)
  gitea:
    image: gitea/gitea:latest
    container_name: gitea
    restart: unless-stopped
    environment:
      USER_UID: 1000
      USER_GID: 1000
      GITEA__server__SSH_PORT: 2222
    volumes:
      - ./config/gitea:/data
      - /etc/timezone:/etc/timezone:ro
      - /etc/localtime:/etc/localtime:ro
    ports:
      - "3002:3000"
      - "2222:22"

  # 7. Speedtest Tracker
  speedtest-tracker:
        image: lscr.io/linuxserver/speedtest-tracker:latest
        container_name: speedtest-tracker
        restart: unless-stopped
        environment:
            - PUID=1000
            - PGID=1000
            - DB_CONNECTION=sqlite
            - SPEEDTEST_SCHEDULE=0 * * * *
            - APP_KEY=base64:aRandomGeneratedKeyHere==
        volumes:
            - C:/nginx-proxy/speedtest:/config
        ports:
            - "8083:80"
  
  # 8. jellyfin (Media Server)
  jellyfin:
    image: lscr.io/linuxserver/jellyfin:latest
    container_name: jellyfin
    restart: unless-stopped
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Asia/Kuala_Lumpur
    volumes:
      - ./config/jellyfin/config:/config
      - ./cache/jellyfin/cache:/cache
      - D:/Expansion/JELLYFINMEDIA:/media
    ports:
      - "8096:8096"